html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    padding: 30px;
    margin-left: 50px;
    max-width: 800px;
}
input-section, output-section {
    flex: 1; /* each takes 50% of height*/
    padding: 20px
    /*overflow-y: auto;*/
}




label {
    margin-top: 20px;
    font-weight: bold;
}
.input {
    /*background-color: white;*/
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    resize: none;
    font-size: 1rem;
    color: black;
    margin-top: 15px;
    display: block;
}
.input.title {
    width: 500px;
    height: 30px;
}
.input.description {
    width: 780px;
    height: 100px;
}
.input.short {
    width: 150px;
    height: 30px;
    margin-right: 20px;
}
.inline-fields {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}




.divider {
    height: 1px;
    border-top: 2px dotted white;
    margin: 0;
}




.output-section {
    color: white;
    font-family: Arial;
    margin-top: 30px;
    max-width: 100%;
}
.output-block {
    margin-bottom: 25px;
}
.output-box {
    background-color: #0b2a50;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-line;
    min-height: 80px;
    min-width: 90%;
}





.btn {
    padding: 20px 25px;
    margin-top: 20px;
    margin-left: 300px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover {
    background-color: #0056b3;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    padding: 30px;

}


/*.textarea-input {

    width: 100%;

    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

*/
