body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #001f4d;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #000000;
    border-bottom: 5px solid white;
}
.logo {
    margin: 0;
    font-size: 2rem;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    transition: color 0.2s;
}
.nav-link:hover {
    color: #ddd;
}
.nav-icon i {
    color: white;
    font-size: 1.5rem;
    transition: color 0.2s;
    margin-left: 20px;
    padding: 10px
}







.return-button {
    text-align: right;
    color: white;
    margin: 20px;
    padding: px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}




.alert {
    padding: 12px 16px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}
.alert.error {

    background-color: #f8d7da;  
    color: #721c24;             
    border: 1px solid #f5c6cb;
}
.alert.success {
    background-color: #d7f8df;  
    color: #1c7239;             
    border: 1px solid #caf5c6;
}
.alert.logout {
    background-color: #e6e6e6;  
    color: #636363;             
    border: 1px solid #e6e6e6;
}
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.alert.fade-out {
  animation: fadeOut 1s forwards;
}





/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* The dropdown menu itself */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #333;
    min-width: 140px;
    z-index: 1000;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

/* Dropdown links */
.dropdown-content a {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #444;
}

.user-circle {
    width: 32px;
    height: 32px;
    background-color: #555;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.nav-icon i {
    font-size: 20px;
    color: white;
}
.split {
    height: 1px;
    border-top: 1px dashed white;
    margin-top: 5px;
}
.user-email {
    text-align: center;
    font-weight: bold;
    color: #ccc;
    font-size: 16px;
    display: block; /* or inline-block if needed */
    padding: 8px 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}