<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">

    <title>{% block title %} Project Maker AI {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/frappe-gantt/dist/frappe-gantt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    {% block css %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <div class="navbar-left">
            <h1 class="logo">PROJECT MAKER AI</h1>
        </div>

        <div class="navbar-right">
            <a href="{{ url_for('main.home_page') }}" class="nav-link">Home</a>
            <a href="{{ url_for('main.generator_page') }}" class="nav-link">Generator</a>

            <div class="dropdown">
                <a href="#" class="nav-icon" onclick="toggleDropdown(event)">
                    {% if current_user.is_authenticated %}
                        <!-- Circle with placeholder or initial -->
                        <div class="user-circle">
                            {{ current_user.email[0]|upper }}
                        </div>
                    {% else %}
                        <!-- Default icon for guests -->
                        <i class="fas fa-user"></i>
                    {% endif %}
                </a>
                <div id="userDropdown" class="dropdown-content">
                    {% if current_user.is_authenticated %}
                        <span class="user-email">{{ current_user.email }}</span>
                        <div class="split"></div>
                        <a ref="{{ url_for('main.settings_page') }}">Settings</a>
                        <a ref="{{ url_for('main.history_page') }}">History</a>

                        
                        <div class="split"></div>
                        <a href="{{ url_for('main.logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ url_for('main.profile_page') }}">Profile</a>
                        <a ref="{{ url_for('main.settings_page')}}">Settings</a>

                    {% endif %}
                </div>
            </div>
        </div>

    </nav>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    
    

    


    <main>
        {% block content %} {% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/frappe-gantt/dist/frappe-gantt.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% block script %}{% endblock %}    
</body>
</html>