{% extends "base.html" %}
{% block title %} Generator {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/generator.css') }}">
{% endblock %}

{% block content %} 

<div class="container">
    
    <div class="input-section">
        <h2>Generator</h2>


        <form id="projectForm">

            <label for="title">Project Title</label><br>
            <textarea id="title" class="input title"></textarea><br>

            <label for="description">Description</label><br>
            <textarea id="description" class="input description"></textarea><br>

            <label for="features">Features</label><br>
            <textarea id="features" class="input description"></textarea><br>
            

            <div class="inline-fields">
                <div>
                    <label for="type">Type</label><br>
                    <textarea id="type" class="input short"></textarea>
                </div>
                <div>
                    <label for="team_size">Team Size</label><br>
                    <textarea id="team_size" class="input short"></textarea>
                </div>
                <div>
                    <label for="time_span">Time Span</label><br>
                    <textarea id="time_span" class="input short"></textarea>
                </div>
            </div>
            


            <button type="submit">GENERATE</button>

        </form>
    </div>


    <div class="divider"></div>

    <div class="output-section">
        <h2>AI Generated Output</h2>

        <div class="output-block">
            <h3>1. Project Scope</h3>
            <textarea class="output-field size" readonly></textarea>
        </div>

        <div class="output-block">
            <h3>2. Required Tasks</h3>
            <textarea class="output-field size" readonly></textarea>
        </div>

        <div class="output-block">
            <h3>3. Market Research</h3>
            <textarea class="output-field size" readonly></textarea>
        </div>

        <div class="output-block">
            <h3>4. Requirements</h3>
            <textarea class="output-field size" readonly></textarea>
        </div>

        <div class="output-block">
            <h3>5. Gantt Chart</h3>
            <textarea class="output-field size" readonly></textarea>
        </div>

        <div class="output-block">
            <h3>6. Flags</h3>
            <textarea class="output-field size" readonly></textarea>
        </div>
        

        <a id="downloadLink" hefre="#" style="display: none;">Download Results</a>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/generator.js') }}"></script>
{% endblock %}